#thumbs, #thumbs * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#thumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
#thumbs li {
    list-style-type: none;
    margin-right: 10px;
    margin-bottom: 10px;
}

#thumbs li > span, .hidden {
    display: none !important;
}

#thumbs figure {
    position: relative;
    text-align: center;
}

#thumbs img {
    max-height: 100px;
    max-width: 100px;
}

#thumbs figure > span {
    position: absolute;
    text-shadow: 0 0 2px black, 0 0 2px black;
    opacity: 0;
    color: white;
    cursor: pointer;
    transition: all .3s;
}
#thumbs .sidebar-vote.stars {
    transform-origin: top left;
    top: 2px;
    left: 2px;
}
#thumbs .quick-unstar {
    transform-origin: bottom right;
    bottom: 2px;
    right: 2px;
}
#thumbs figure:hover > span {
    opacity: 1;
    transform: scale(1.2);
}
#thumbs .img {
    background-image: url('https://i.stack.imgur.com/Da7jC.png') !important;
}

#thumbs .sidebar-vote.stars.user-star .vote {
    color: gold;
}

#lightbox-container {
    top: 0;
    height: 100vh;
    position: fixed;
    backdrop-filter: brightness(50%);
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-flow: column;
}

#lightbox-container > div.filler {
    flex: 1 0 auto;
}

#lightbox {
    flex: 0 1 auto;
    overflow: auto;
    margin: 0 auto;
    max-width: 90%;
}

#lightbox > img {
    max-height: 90vh;
    max-width: 90vw;
    cursor: zoom-in;
}

#lightbox > img.zoomed {
    max-height: initial;
    max-width: initial;
    cursor: zoom-out;
}
